*{transition: 0.2s;}

*::selection{
    background-color:black;
    color:white;
    outline: none;
}

body{
    scroll-behavior: smooth;
    width:100%;
    height:100%;
    overflow-x: hidden;
    margin:0;
    padding:0;
    font-family: OpenSansRegular;
    color:#48555B;
}

.wrapper{
    max-width: 942px;
    margin:0 auto;
    padding:0 30px;
}

button{
    padding:11px 26px;
    background-color: #00A4E5;
    border:0;
    font-size:13px;
    color:white;
    font-family:OpenSansRegular;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

button:hover{
    background-color:#0080b3;
}

img[src="../img/symbol/triangle.svg"]{
    margin-right:2px;
    width:10.5px;
    height:19px;
}

.logo{
    font-family:BebasBold;
    font-size:19.5px;
    padding:0;
    margin:0;
}

.hide{
    visibility: hidden;
    padding:0;
    margin:0;
    height:0;
    border:0;
    transition: 0.2s;
}

.hide *{
    color:white;
    line-height: 10px;
    transition: 0.05s;
    visibility: hidden;
}

@media only screen and (max-width:1002px){
    .grid_preview .wrapper .flex_container{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .grid_preview .wrapper .flex_container .first_row{
        margin:40px;
        margin-top:0;
    }

    @media only screen and (max-width:600px){
        .grid_preview .wrapper .flex_container .first_row{
            margin:0 !important;
            margin-bottom:40px !important;
        }

        .grid_preview center{
            margin-bottom:50px !important;
        }

        @media only screen and (max-width:530px) and (min-width:390px){
            .grid_preview .wrapper .second_row h3{
                font-size: 19.2px !important;
                line-height: 23.2px !important;
                padding-top:12px !important;
                padding-left:11.2px !important;
            }
            
            .grid_preview .wrapper .second_row div{
                width:112px !important;
                height:179.2px !important;
                margin:0 8px !important;
            }
        }

        @media only screen and (max-width:390px){            
            .grid_preview .wrapper .second_row h3{
                font-size: 14.4px !important;
                line-height: 17.4px !important;
                padding-top:8.4px !important;
                padding-left:8.4px !important;
                font-size:14.4px !important;
            }
            
            .grid_preview .wrapper .second_row div{
                width:84px !important;
                height:134.4px !important;
                margin:0 6px !important;
            }
        }
    }
}

@media only screen and (max-width: 980px) and (min-width:320px){
    .grid_content .wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .grid_content .wrapper div{
        margin-bottom:20px;
        margin-right:0 !important;
    }

    .grid_content .wrapper div:last-child{
        margin-bottom:0;
    }

    .fullscreen a{
        font-size:12px;
    }

    .fullscreen h1{
        font-size:50px;
    }

    .capabilities .wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .capabilities a{
        margin:40px 0 !important;
        margin-bottom: 30px;
        max-width:330px;
        text-align: justify;
    }

    footer .first .wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }

    footer .second .wrapper .company, footer .second .wrapper .contact{
        display:none;
    }

    footer .second .wrapper{
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    footer .second .contact{
        margin-top:20px;
    }

    .prefooter{margin-top:57px !important}
}

@media only screen and (max-width: 514px){
    header .wrapper ul{display:none;}
    header .wrapper .hamb{
        display:block;
        padding:10px;
        padding-right: 0;
    }

    header ol{
        list-style: none;
        border-top:0.5px solid #e6e6e6;
        padding:0;
        margin:0;
        padding-top:20px;
        padding-bottom:20px;
    }

    header ol li{
        line-height: 40px;
    }
}

@media only screen and (max-width: 361px){
    footer .input{
        display: flex;
        flex-direction: column;
    }

    .grid_preview center{
        margin-bottom:50px;
    }
}

@media only screen and (max-width: 390px){
    .fullscreen h1{
        font-size:50px !important;
    }

    .fullscreen a{
        font-size:10px !important;
    }

    .grid_content{
        margin-top:64px !important;
    }
    
    .grid_content h3{
        font-size:12.8px !important;
        line-height: 15.36px !important;
    }
    
    .grid_content .wrapper div{
        padding:14.08px !important;
        width:236.264px !important;
        margin-right:0 !important;
    }
    
    .grid_content img{
        width: 52.496px !important;
        height: 60px !important;
    }
    
    .grid_content p{
        line-height:18.4px !important;
        font-size:10.4px !important;
    }

    .prefooter{
        margin-top:0 !important;
    }

    .wrapper{
        padding-left:10px !important;
        padding-right:10px !important;
    }
}

.fullscreen{
    background-image:url('img/background/bgtop.jpg');
    background-size:cover;
    background-color:#262F3E;
    background-position-x:50%;
    background-repeat:no-repeat;
    transition-property: background-position;
    transition:0s !important;
    height:100vh;
    color:white;
    text-align:center;
    transition: none;
}

.fullscreen h4{
    padding:0;
    font-family: BebasBold;
    font-size:25px;
    letter-spacing: 1.33px;
    padding-top:0px;
    margin:0;
    padding-top:41.84px;
}

.fullscreen h1{
    font-family:BebasBold;
    margin:auto 0;
    position: absolute;
    letter-spacing: 5.71px;
    font-size:60px;
    position: relative;
    padding:0 15px;
}

.fullscreen a{
    font-family:OpenSansRegular;
    font-size:16px;
    font-weight: 600;
    letter-spacing: 1.3px;
    line-height: 21.79px;
    text-align:center;
}

.fullscreen .wrapper div{
    position: absolute;
    top:45%;
    left:0;
    right:0;
}

.fullscreen .wrapper h3{
    padding:0;
    margin:0;
    position: absolute;
    bottom: 50px;
    left:0;
    right:0;
    font-size:11px;
    letter-spacing: 3.7px;
    text-align: center;
    font-family: OpenSansRegular;
    text-transform: uppercase;
    font-weight: 600;
}

header{
    border-bottom: 1px solid #E6E6E6;
}

header h4{
    float:left;
    font-family:BebasBold;
    font-size:19.5px;
    padding:0;
    margin:0;
}

header ul{
    list-style-type: none;
    font-family: OpenSansRegular;
    text-transform: uppercase;
    font-size:12px;
    float:right;
    padding:0;
    margin:0;
}

header ul li{
    display: inline;
}

header li{
    line-height: 16.34px;
    letter-spacing: 1.09px;
    cursor: pointer;
    margin-left:24px;
    font-weight: 600;
}

header li:hover{
    color:#00A4E5;
    font-weight: 700;
}

header .wrapper{
    height:64px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 514px){
    #list{display: none}
    #hamb{display: none}
}

/* Заголовок */
.grid_preview h4{
    text-align: center;
    font-weight: 700;
    font-family: OpenSansRegular;
    text-transform: uppercase;
    padding:0;
    margin:0;
    margin-top:57px;
    margin-bottom:10px;
    font-size:18px;
    line-height: 24.51px;
    letter-spacing: 2.31px;
}

.grid_preview hr{
    width:50px;
    border:1px solid #00A4E5;
}

.grid_preview center{
    margin-bottom:80px;
}


/* Включение флекса и некоторые настройки */
.grid_preview .flex{
    justify-content: start;
    align-items: center;
    background-color: black;
    color:white;
    text-align: center;
    flex-wrap: nowrap;
    width:50px;
}

.grid_preview .wrapper .flex_container{
    font-family: OpenSansRegular;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.grid_preview .wrapper .flex_container .center{
    justify-content: space-around;
    align-items: center;
    max-width: 460px;
}


/* Первая колонка */
.grid_preview .wrapper .first_row{
    letter-spacing: 0.19px;
    color: #48555B;
    margin-right:80px;
}

.grid_preview .wrapper .first_row .primary_text{
    font-weight: 700;
    font-size:20px;
    margin-top:0;
}

.grid_preview .wrapper .first_row .secondary_text{
    font-weight: 400;
    line-height: 23px;
    font-size:13px;
}

.grid_preview .wrapper .first_row mark{
    color:#00A4E5;
    background-color:transparent;
}

.grid_preview .wrapper .second_row h3{
    font-family: OpenSansBoldExtra;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.18px;
    color:white;
    padding:0;
    margin:0;
    padding-top:15px;
    padding-left:14px;
    font-size:24px;
}

.grid_preview .wrapper .second_row div{
    width:140px;
    height:224px;
    background-size:cover;
    margin:0 10px;
}

.grid_preview .wrapper .second_row div:last-child{margin-right:0;}
.grid_preview .wrapper .second_row div:first-child{margin-left:0;}

.grid_preview .wrapper .second_row{
    display: flex;
    flex-direction: row;
}

.capabilities{
    font-family:OpenSansRegular;
    margin-top:80px;
}

.capabilities .wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.capabilities .title{
}

.capabilities h3{
    text-transform: uppercase;
    font-size:18px;
    letter-spacing: 2.31px;
    color:#48555B;
    margin:0;
    padding-bottom:10px;
}

.capabilities hr{
    width:50px;
    padding: 0;
    margin: 0;
    border: 1px solid #00A4E5;
}

.capabilities a{
    font-size:11px;
    color:#48555B;
    max-width: 405px;
    line-height: 19px;
    padding:0;
    margin:0;
}

.grid_content{
    font-family: OpenSansRegular;
    margin-top:80px;
}

.grid_content h3{
    font-size:16px;
    color:#48555B;
    line-height: 24px;
    letter-spacing: 0.43px;
}

.grid_content .wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.grid_content .wrapper div{
    border:1px solid #E6E6E6;
    padding:22px;
    width:295.33px;
    margin-right:28px;
}

.grid_content .wrapper div:last-child{
    margin-right:0;
}

.grid_content img{
    width: 65.62px;
    height: 75px;
}

.grid_content p{
    line-height: 23px;
    font-size:13px;
    color:#48555B;
}

.prefooter{
    background-image: url('img/background/bgbottom.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height:498.24px;
    display:flex;
    justify-content: space-between;
    margin-top:115px;
}

.prefooter .wrapper{
    text-align: center;
    margin-top:120px;
}

.prefooter h1{
    font-size:30px;
    line-height: 36px;
    padding:0;
    margin:0;
    padding-bottom:35px;
}

.prefooter a{
    padding:0;
    margin:0;
}

footer .first{
    background-color: #171819;
    color:white;
    padding:30px 0;
}

footer .first .wrapper{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .first a{
    font-size:22px;
    font-weight: 700;
    letter-spacing: 0.85px;
}

footer .first input{
    font-size:14px;
    padding:11.5px 16px;
    padding-bottom: 12px;
    outline:none;
    border:0;
    color:#48555B;
}

footer .second{
    background-color:#141A20;
    padding:42px 0;
    color:white;
    letter-spacing: 0.85px;
}

footer .second h4{
    font-size:25px !important;
    color:#DADADA;
}

footer .second .wrapper{
    display:flex;
    justify-content: space-between;
}

footer .second .socnet{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width:87px;
    margin-top:15px;
}

footer .second .links div{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

footer .second ul{
    list-style-type: none;
    padding:0;
    margin:0;
    margin-right:34px;
}

footer .second ul:last-child{
    margin-right: 0;
}

footer .second ul li{
    font-size:11px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

footer .second .wrapper .company p{
    max-width: 250px;
    font-size:11px;
    line-height: 19px;
    font-weight: 400;

}

footer .second .wrapper a{
    letter-spacing: 0.85px;
    font-size:11px;
    text-transform: uppercase;
    margin:0;
    padding:0;
}

footer .second .wrapper .contact p{
    font-size:11px;
    font-weight: 400;
    line-height: 16px;
}

footer .second .contact p{
    padding:0;
    margin:0;
}

footer .second .cont{
    margin-top:10px;
}

footer .third{
    background-color:#171819;
    font-size:11px;
    padding:22px 0;
    color:white;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    text-align: center;
}