@font-face{font-family: BebasBold; src:url('BebasNeue Bold.ttf')}
@font-face{font-family: BebasBook; src:url('BebasNeue Book.ttf')}
@font-face{font-family: BebasLight; src:url('BebasNeue Light.ttf')}
@font-face{font-family: BebasRegular; src:url('BebasNeue Regular.ttf')}
@font-face{font-family: BebasThin; src:url('BebasNeue Thin.ttf')}